{% block head %}
    {% include "include/head.html.twig" %}
    
{% endblock %}

{% block body %}
    {% include "include/nav.html.twig" %}
    <div class="container">
    {{ form(form) }}
    </div>
{% endblock %}

